/vendor
composer.phar
composer.lock
.DS_Store
.idea/.name
.idea/encodings.xml
.idea/helios-mollie.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/Laravel-FakeId.iml